<div class='container'>
<h2> Add User</h2>
<form class="needs-validation"  #addForm novalidate>
    <div class="form-group required row">
        <label for="firstName" class="col-sm-2 col-form-label required">First Name:</label>
        <div class="col-sm-6">
        <input type="text" name="firstName" class="form-control" id="firstName" [(ngModel)]="user.firstName" required>        
        <div class="invalid-feedback">First Name is mandatory field</div>
        </div>
    </div>
    <div class="form-group required row">
        <label for="lastName" class="col-sm-2 col-form-label required">Last Name:</label>
        <div class="col-sm-6">
        <input type="text" name="lastName" class="form-control" id="lastName" [(ngModel)]="user.lastName" required>        
        <div class="invalid-feedback">Last Name is mandatory field</div>
        </div>
    </div>
    <div class="form-group required row">
            <label for="employeeId" class="col-sm-2 col-form-label required">Employee ID:</label>
            <div class="col-sm-3">
            <input type="text" name="employeeId" class="form-control" id="employeeId" [(ngModel)]="user.employeeId" required>        
            <div class="invalid-feedback">Employee ID is mandatory field</div>
            </div>
        </div>
    <div class="form-group row">
    <div class="col-sm-3"></div>
    <button type="button" id="add" class="btn btn-secondary" style="margin:10px" (click)="saveOrUpdateUser()">Add User</button>
    <button type="button" id="reset" class="btn btn-secondary" style="margin:10px" (click)="reset()">Reset</button>
    <div class="col-sm-2"></div>
    </div>
</form>

<div>
    <form>
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control mb-2 mr-sm-2" id="searchValue" placeholder="Search..."
            [(ngModel)]="searchFilter" name="searchValue">
        </div>
        <div class="col-md-1">
          <label>Sort:</label>
        </div>
        <div class="col-md-2">
          <button type="submit" (click)="sort('firstName')" class="btn btn-secondary">First
            Name</button>
        </div>
        <div class="col-md-2">
          <button type="submit" (click)="sort('lastName')" class="btn btn-secondary">Last
            Name</button>
        </div>
        <div class="col-md-2">
          <button type="submit" (click)="sort('employeeId')" class="btn btn-secondary">Id</button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </div>
</div>

<div *ngFor="let user of userList">
    <div class="row">
        <div class="col">
            <span layout="row">
            <hr flex /></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="bg-light text-dark">{{user.firstName}}</div>
        </div>        
        <div class="col-md-2">
            <button type="submit" class="btn btn-secondary" (click)="availableForEdit(user.userId)"> Edit </button>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="bg-light text-dark">{{user.lastName}}</div>
        </div>        
        <div class="col-md-2">
            <button type="submit" class="btn btn-secondary" >Delete</button>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="bg-light text-dark">{{user.employeeId}}</div>
        </div>                
    </div>
</div>